*.vscode
limit
classes
enumr
fact
file
first
limit
specifier
sqtr
str
strinfs
swap
swap2
tempCodeRunnerFile.cpp
tempCodeRunnerFile
workspace.code-workspace
aman.txt
attandance.txt
created.txt
db.txt
main_app
xxxxxxx
